@{
    ViewBag.Title = "Home";
}

<div id="applicationHost"></div>

@section scripts {
    <script type="text/javascript" src="~/App/durandal/amd/require.js" data-main="@Url.Content("~/App/main")"></script>
}
